@media (max-width: 1399px) {
    .container {
    width: 1050px;
}

    .sparklite__img, .car__img {
        width: 100%;
    }
    .card__title {
        font-size: 19px;
    }
}
@media (max-width: 1199px) {
    .container {
        width: 900px;
    }

    .header__wrapper {
        background-size: 50%;
    }

    .footer__list .footer__list__item:nth-child(2) {
        margin-left: 0;
    }

    .footer__list .footer__list__item:nth-child(3) {
        margin-left: 0;
    }

    .footer__list {
        display: flex;
        justify-content: space-between;

    }
}
@media (max-width: 991px) {
    .container {
        width: 690px;
    }
    .header__title {
        max-width: 512px;
    }
    .header__wrapper {
        background-size: 45%;
        background-position-y: 89%;
    }
    .what-we-do__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .what-we-do__card {
        flex-basis: initial;
    }
    .main__finished-title {
        margin-top: 127px;
    }
    .footer {
        padding-top: 47px;
    }
    .footer__container {
        width: 520px;
        margin: 0 124px;
    }
    .footer__text {
        max-width: 336px;
    }
    .footer__button {
        padding: 3px 30px;
        margin-top: 52px;
    }
    .footer__wrapper {
        margin-bottom: 64px;
    }
    .footer__list {
        flex-direction: column;
    }
    .footer__list__item {
        max-width: initial;
        padding-left: 36px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 95%;
    }
    .footer__container {
        width: 500px;
        margin: 0 0 0 50px;
    }
}
@media (max-width: 575px) {
    .header__menu {
        margin-top: 24px;
    }
    .header__wrapper {
        background: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 36px;
        margin-bottom: 0;
        padding-bottom: 41px;
    }
    .header__title {
        max-width: 330px;
        font-size: 32px;
        line-height: 38px;
        text-align: center;

    }
    .header__text {
        text-align: center;
        margin-top: 12px;
    }
    .header__button {
        margin-top: 32px;
        font-size: 12px;
        padding: 1px 9px;
    }
    .what-we-do {
        margin-top: 48px;
    }
    .what-we-do__title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
    }
    .what-we-do__card {
        padding: 20px 30px;
    }
    .card__link {
        margin-top: 50px;
    }
    .finished_project {
        margin-bottom: 64px;
    }
    .main__finished-title {
        margin-top: 64px;
        font-size: 24px;
        line-height: 28px;
    }
    .main__finished-subtitle {
        margin-bottom: 82px;
    }
    .smart-home__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .main__apps-wrapper {
        flex-direction: column;
        margin-top: 16px;
        gap: 16px;
    }
    .sparklite__text, .car__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        left: 16px;
    }
    .footer {
        padding: 18px 0 32px 0;
    }
    .footer__container {
        width: 92%;
        margin: 0 auto;
    }
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 41px;
    }
    .footer__title {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        max-width: 250px;
        margin: 0 auto 32px auto;
    }
    .footer__text {
        text-align: center;
        max-width: 350px;
    }
    .footer__button {
        margin-top: 40px;
    }
    .footer__divider {
        margin-bottom: 32px;
    }
    .footer__list__item {
        padding-left: 21px;
    }
    .footer__list {
        margin-bottom: 37px;
    }
    .footer__copy {
        text-align: center;
    }
}
