.header{
    min-height: 400px;
    background-image: url("/content/header_background.png");
    background-size: contain;
    display: flex;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.container_contacts {
    width: 940px;
}
.header__container{
    display: flex;
    flex-direction: column;
}
.header__menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 49px 0 0;
}
.header__menu li:hover{
    opacity: 0.8;
}
.header__wrapper{
    flex-grow: 1;
    background-image: url(../content/header_element.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right ;
    margin-top: 115px;
    padding-bottom: 90px;
    margin-bottom: 93px;
}
.header__title{
    max-width: 506px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.header__text{
    margin-top: 39px;
    max-width: 425px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.header__button{
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 50px;
    display: inline-block;
}
.header__button:hover{
    background: #418bcb
}
.what-we-do{
    margin-top: 64px;
}
.what-we-do__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.what-we-do__card {
    width: 360px;
    min-height: 460px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-top: 44px;
    margin-top: 64px;
}
.what-we-do__wrapper {
    display: flex;
    justify-content: space-between;
}
.card__img {
    display: block;
    margin: 0 auto;
}
.card__img_left {
    margin: 0 66px;
}
.card__img_right {
    margin: 0 80px;
}
.card__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin: 52px 32px 14px 32px;
}
.card__descr {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin: 0 32px;
    width: 294px;
}
.card__descr_sml {
    width: 269px;
}
.card__link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin: 30px 0 0 32px;
    position: relative;
    width: 100px;
}
.card__link:after {
    content: '';
    background: url("../content/right.svg") no-repeat;
    position: absolute;
    top: 7px;
    left: 103px;
    width: 16px;
    height: 100%;
}
.card__link:hover {
    color: #0570d2;
}
.finished_project {
    margin-bottom: 112px;
}
.main__finished-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 32px;
}
.main__finished-subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    width: 750px;
    margin: 0 auto 64px auto;
}
.main__smart-home{
    position: relative;
}
.smart-home__img{
    width: 100%;
    object-fit: cover;
}
.smart-home__text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}

.main__apps-wrapper{
    margin-top: 32px;
    display: flex;
    gap: 32px;
}
.main__app{
    flex-grow: 1;
    position: relative;
}

.sparklite__text, .car__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.footer {
    background-color: #316099;
    padding-top: 90px;
    padding-bottom: 64px;
}
.footer__title {
    width: 340px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;

}
.footer__text {
    width: 495px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;

}
.footer__button {
    background: #5A98D0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 80px;
    display: block;
    align-self: center;

}
.footer__button:hover {
    background: #4192d9;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.footer__divider {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-bottom: 64px;
}

.footer__item__number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer__item__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 240px;
}
.footer__item {
    display: flex;
    gap: 20px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.footer__copy {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.contacts {
    background: url('../content/contact_bg.png') no-repeat;
    background-size: cover;
    padding-bottom: 49px;
}

.contacts__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contacts__description {
    width: 780px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-info__img {
    display: block;
    margin-top: 135px;
}
.contacts-info__address {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 56px;
}
.contacts-info__address-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    margin-top: 24px;
    width: 300px;
}
.contacts-info__phone {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 40px;
    margin-bottom: 24px;
}
.contacts-info__tel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    margin-top: 16px;
    position: relative;
    padding-left: 41px;
}
.contacts-info__tel:before {
    content: '';
    background: url(../content/phone.svg) no-repeat;
    position: absolute;
    top: 3px;
    left: -3px;
    width: 100%;
    height: 100%;
}
.contacts-info__service {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 40px;
    margin-bottom: 24px;
}
.contacts-info__site, .contacts-info__email {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    margin-top: 16px;
    padding-left: 41px;
    position: relative;
}

.contacts-info__site:before {
    content: '';
    background: url(../content/web.svg) no-repeat;
    position: absolute;
    top: 3px;
    left: -3px;
    width: 100%;
    height: 100%;
}
.contacts-info__email:before {
    content: '';
    background: url(../content/email.svg) no-repeat;
    position: absolute;
    top: 3px;
    left: -3px;
    width: 100%;
    height: 100%;
}

.contacts__form {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}